use_nix
# Necessary because prebuilt toolchains do not work when using Nix, which will be downloaded for non JDK11 projects
# (the nixified jdk 11 is added in shell.nix)
export TEGRAL_ONLY_JDK11_PROJECTS=1