/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  padding: 4rem 0;
  position: relative;
  overflow: hidden;
  display: flex;
  background-image: url('/img/paul-pastourmatzis-rSLLnn0snVM-unsplash.jpg');
  background-size: cover;
  background-position: center;
}

.heroBanner .introContainer {
  display: flex;
  justify-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(10px);
  align-self: stretch;
  padding: 2rem;
  color: black;
}

.heroBanner .container h1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroBanner .container p {
  text-align: center;
}

.heroBanner .container h1 img {
  height: 3rem;
  padding-right: 1rem;
}

.heroBanner .container small {
  font-size: .3em;
  vertical-align: bottom;
  align-self: flex-end;
  margin-left: .5em;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertContainer {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.codeBlockContainer {
  flex-grow: 1;
}

.codeBlockContainer > div {
  margin: 0;
}

.introContainer {
  justify-content: center;
  padding: 12px;
  max-width: 50%;
}
